@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
}

/* Reset de layout crucial */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: block; /* Impede interferência de flex padrão do Next */
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
